<center>

*******************************************************************************************
    
### SQLite
  
#####  9 June 2024

##### Juan Ignacio Mendoza Garay  

*******************************************************************************************

</center>

#### INFORMATION:


* Description:

    Some basic Python + SQLite operations.
    
* Instructions:

    Edit the values indicated with an input_arrow like this: <---  
    Comment/uncomment or change values as suggested by the comments.  
    Run the program, close your eyes and hope for the best.  

*******************************************************************************************

In [1]:
import sqlite3, datetime

#### Connect to database and create it if it doesn't exist:

In [62]:
db_fn = 'my.db' # <--- database file name

connection = sqlite3.connect(db_fn)
cursor = connection.cursor();

#### Create table:

In [ ]:
cursor.execute('CREATE TABLE my_table (datetime datetime, a int, b int)');

#### Create datapoint and insert into table:

In [57]:

dt = datetime.datetime.now().strftime("%Y-%m-%d %H:%M:%S")
a = 2500 # <--- value for column "a"
b = 3 # <--- value for column "b"

dp = (dt,a,b)

cursor.execute('INSERT INTO my_table VALUES(?,?,?)',dp)
connection.commit();

#### Print table:

In [67]:
for row in cursor.execute('SELECT * FROM my_table'):
    print(row)

#### Delete rows from table:

In [66]:
query = """
            DELETE 
            FROM my_table 
            WHERE datetime >= ?
        """.format()

q = '2024-06-09' # <--- datetime of rows to delete
cursor.execute(query,[q]);
connection.commit();

#### Extract datetime range from table:

In [ ]:
query = """
            SELECT * 
            FROM my_table 
            WHERE datetime >= ?
        """.format()

q = '2024-06-09' # <--- datetime start
cursor.execute( query, [q])
qr = cursor.fetchall()
for row in qr:
    print(row)

#### Disconnect from database:

In [68]:
connection.close()

#### Print table names of an existing database:

In [ ]:
dbname = 'my.db' # <--- database name

connection = sqlite3.connect(dbname)
cursor = connection.cursor()
query = """
            SELECT name FROM sqlite_master 
            WHERE type='table';
        """
cursor.execute(query)
print(cursor.fetchall())
connection.close()

#### Print table content of an existing database:

In [ ]:
dbname = 'my.db' # <--- database name
tablename = 'my_table' # <--- table name

connection = sqlite3.connect(dbname)
cursor = connection.cursor()
query = 'SELECT * FROM {}'.format(tablename)
for row in cursor.execute(query):
    print(row)
connection.close()